@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: 0;
}

.logo img {
  width: 200px;
  height: auto;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

main {
  margin-left: 5vh;
  margin-right: 5vh;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.service-card {
  background-color: rgb(182, 182, 182);
  border: 1px solid lightgray;
  border-radius: 5px;
  width: calc(33.33% - 20px);
  height: 300px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 991px) {
  .service-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .service-card {
    width: 100%;
  }
}


.service-card h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.service-card p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label, input[type="submit"] {
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

input[type="text"], input[type="email"], textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}
